@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 min-w-[330px]
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(./fonts/roboto-v30-cyrillic_latin-regular.woff2) format("woff2");
  }
  @font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url(./fonts/roboto-v30-cyrillic_latin-500.woff2) format("woff2");
  }
  @font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url(./fonts/roboto-v30-cyrillic_latin-700.woff2) format("woff2");
  }
}

@layer components {
  .btn {
    @apply block px-3 py-4 rounded-md;
  }

  .card {
    @apply rounded-md bg-transparent shadow-md border-2 border-slate-900;
  }
}